.Host {
    display : flex;
    overflow: hidden;
}

.Host > * {
    position  : relative;
    overflow  : auto;
    max-width : 100%;
    min-width : 100%;
    box-sizing: border-box;
    transition: all .3s ease-out;
}
