.Host {
    overflow        : auto;
    max-width       : 280px;
    min-width       : max-content;
    border-right    : 1px solid #DDD;
    background-color: #FFF;
    font-family     : "Roboto", sans-serif;
    font-weight     : bolder;
    transition      : all .3s ease-out;
}

.Host li {
    min-width  : max-content;
    font-size  : 14px;
    font-weight: bolder;
    color      : rgba(0, 0, 0, .8);
}

.Host li > :nth-child(1) > :nth-child(1) {
    font-size  : 20px;
    font-weight: normal;
}
