.ToolBarListItem {
  margin      : 0 2px;
  padding     : 0 12px;
  cursor      : pointer;
  user-select : none;
}

.ToolBarListItem:hover {
  background-color : rgba(0, 0, 0, .05);
}

.ToolBarListItem:hover > .ToolBarIcon {
  color : #333;
}

.ToolBarIcon {
  margin    : 0 8px;
  font-size : 26px;
}

@media (max-width : 767px) {
  .ToolBarListItem {
    padding : 0;
  }
}