@keyframes visible {
    0% {
        overflow: hidden;
    }

    100% {
        overflow: hidden;
    }
}

.Host {
    position        : absolute;
    z-index         : 1;
    border-radius   : 2px;
    background-color: #FFF;
    transition      : all .3s ease-out;
}

.Host.Hidden {
    overflow: hidden;
    width   : 0;
    height  : 0;
    padding : 0;
}

.Host.Visible {
    overflow : visible;
    animation: visible ease-out .3s backwards;
}
