.AccountPage {
    display        : flex;
    flex-direction : column;
    align-items    : stretch;
    width          : 100%;
    height         : 100%;
}

.ViewPager {
    flex-grow : 1;
    z-index   : 0;
    position: relative;
}

.AccountPage > :nth-child(1) {
    z-index          : 1;
    position         : relative;
    background-color : white;

}

.AccountPage > :nth-child(2) {
    z-index   : 0;
    position  : relative;
    flex-grow : 1;
}
