.TableRow {
  display        : flex;
  flex-direction : row;
  align-items    : center;
  text-align     : left;
  border-bottom  : 1px solid rgb(188, 188, 188);
  max-height     : 64px;
  height         : 64px;
  width          : 100%;
}