.Host {
    background-color: #FFF;
    color           : rgba(0, 0, 0, .87);
    font-size       : 15px;
    transition      : all .3s ease-out;
    border-top      : 0 solid rgba(0, 0, 0, .12);
}

.Host:nth-child(1) {
    border-top-left-radius : 2px;
    border-top-right-radius: 2px;
}

.Host:nth-last-child(1) {
    border-bottom-left-radius : 2px;
    border-bottom-right-radius: 2px;
}

.Host.Selected {
    border-radius: 2px;    
}

.Host.Selected:not(:nth-child(1)) {
    margin-top: 16px;
}

.Host.Selected:not(:nth-last-child(1)) {
    margin-bottom: 16px;
}

.Host:not(.Selected) + .Host:not(.Selected) {
    border-top-width: 1px;    
}

.Host > :nth-child(1) {
    display    : flex;
    align-items: center;
    min-height : 48px;
    transition : all .3s ease-out;
}

.Host:not(.Disabled) > :nth-child(1) {
    cursor: pointer;
}

.Host:not(.Disabled):hover > :nth-child(1) {
    background-color: rgba(0, 0, 0, .05);
}

.Host > :nth-child(1) > :nth-child(1) {
    white-space: nowrap;
}

.Host > :nth-child(1) > :nth-child(2) {
    overflow     : hidden;
    flex-grow    : 1;
    font-size    : 12px;
    color        : rgba(0, 0, 0, .54);
    text-overflow: ellipsis;
    white-space  : nowrap;
}

.Host > :nth-child(1) > :nth-child(3) {
    color: rgba(0, 0, 0, .38);
}

.Host > :nth-child(1) > :not(:nth-child(2)) {
    padding: 0 16px;
}

.Host > :nth-child(2) {
    overflow  : hidden;
    transition: all .3s ease-out;
}

.Host > :nth-child(2) > * {
    padding: 8px 16px;
}
