.Host {
    display       : flex;
    flex-direction: inherit;
}

.Link {
    display        : flex;
    flex-grow      : 1;
    align-items    : center;
    min-height     : 48px;
    color          : inherit;
    text-decoration: none;
    cursor         : pointer;
    transition     : all .3s ease-out;
}

.Link:hover {
    background-color: rgba(0, 0, 0, .05);
}

.Host.Selected > .Link {
    color : #09F;
    cursor: default;
}
