.Profile {
  display     : flex;
  align-items : flex-start;
}

.Profile > :nth-child(1) {
  flex-grow : 1;
  margin    : 18px;
}

.Profile > :nth-child(2) {
  min-height : 140px;
  min-width  : 140px;
  max-height : 140px;
  max-width  : 140px;
  margin     : 18px;
}

.ImageInput {
  display         : flex;
  justify-content : center;
  align-items     : center;
}

@media (max-width : 767px) {
  .Profile {
    flex-direction: column;
  }
  .Profile > :nth-child(1) {
    order: 2;
  }
  .Profile > :nth-child(2) {
    order: 1;
  }
}

