.Host {
  width         : 18px;
  height        : 18px;
  display       : flex;
  border-radius : 50%;
  border        : 2px solid rgba(0, 0, 0, 0.54);
  transition    : all .3s ease-out;
  position      : relative;
  margin        : 6px;
  cursor        : pointer;
}

.Host > :nth-child(1) {
  width            : 18px;
  height           : 18px;
  border-radius    : 50%;
  transition       : all .2s ease-out;
  margin           : auto;
  position         : absolute;
  background-color : #2196F3;
  left             : 0;
  top              : 0;
  box-sizing       : border-box;
  border           : 9px solid white;
}

.Selected {
  border : 2px solid #2196F3;
}

.Host.Selected > :nth-child(1) {
  border : 2.5px solid white;
}

.Ripple {
  position      : absolute;
  width         : 48px;
  height        : 48px;
  left          : -15px;
  top           : -15px;
  border-radius : 50%;
  z-index       : 1;
}
