.Host {
    display         : flex;
    align-items     : flex-start;
}

.Host > :nth-child(1) {
    flex-grow: 1;
    margin: 18px;
}

.Host > :nth-child(2) {
    min-height : 140px;
    min-width  : 140px;
    max-height: 140px;
    max-width: 140px;
    margin: 18px;
}
