.ListWrap {
    overflow : auto;
}

.WidgetList {

}

.WidgetListItem {

}

.WidgetListItem > * {
    overflow      : hidden;
    text-overflow : ellipsis;
    white-space   : nowrap;
}

.WidgetListItem > :nth-child(n + 3) {
    overflow  : hidden;
    flex-grow : 1;
}

.WidgetListItem > :nth-child(n + 2) {
    margin-left : 8px;
}

.WidgetListItem > :nth-child(1) {
    display         : flex;
    align-items     : center;
    justify-content : space-around;
    min-width       : 60px;
    max-width       : 60px;
    width           : 60px;
}

.WidgetListItem > :nth-child(2) {
    text-align : center;
    min-width  : 42px;
    max-width  : 42px;
    width      : 42px;
}

.WidgetListItem > :nth-child(3) {
    text-align : center;
    min-width  : 60px;
    max-width  : 60px;
}

.WidgetListItem > :nth-child(4) {
    min-width : 100px;
    width     : 200px;
}

.WidgetListItem > :nth-child(5) {
    min-width : 100px;
    width     : 200px;
}

.WidgetListItem > :nth-child(6) {
    min-width : 100px;
    width     : 200px;
}

.WidgetListItem > :nth-last-child(1) {
    margin     : 0 20px;
    min-width  : 40px;
    max-width  : 40px;
    width      : 40px;
    text-align : center;
}
