.Host {
    display    : flex;
    align-items: center;
    width      : 24px;
    height     : 24px;
    margin     : 0 16px;
    color      :rgba(0, 0, 0, .54);
}

.Host.Selected {
    color: #09F;
}
