.Host {
  font-size   : 12px;
  margin      : 3px 8px;
  height      : min-content;
  max-width   : 260px;
  white-space : pre-wrap;
  word-wrap   : break-word;
  font-family : Ruda, sans-serif;
}

.ArrowBox {
  position      : relative;
  border        : 1px solid #bfbfbf;
  border-radius : 8px;
  height        : min-content;
}

.ArrowBox:after, .ArrowBox:before {
  border         : solid transparent;
  content        : " ";
  height         : 0;
  width          : 0;
  position       : absolute;
  pointer-events : none;
}

.ArrowBox:after {
  border-color : rgba(136, 183, 213, 0);
  border-width : 4px;
  margin-top   : -4px;
}

.ArrowBox:before {
  border-color : rgba(194, 225, 245, 0);
  border-width : 5px;
  margin-top   : -5px;
}

.Left {
  margin-left : 10px;
}

.Left:before {
  border-right-color : inherit;
  right              : 100%;
  bottom             : 5px;
}

.Left:after {
  border-right-color : inherit;
  right              : 100%;
  bottom             : 6px;
}

.Right {
  margin-right : 10px;
}

.Right:before {
  border-left-color : inherit;
  left              : 100%;
  bottom            : 5px;
}

.Right:after {
  border-left-color : inherit;
  left              : 100%;
  bottom            : 6px;
}