.Host {
    overflow      : hidden;
    position      : relative;
    vertical-align: top;
}

.Ripple {
    display         : inline-block;
    position        : absolute;
    border-radius   : 50%;
    background-color: rgba(0, 0, 0, .3);
    animation       : ripple .3s ease-out both;
    pointer-events  : none;
}

@keyframes ripple {
    0% {
        opacity  : 1;
        transform: scale(0);
    }

    100% {
        opacity  : 0;
        transform: scale(1);
    }
}
