.Host {
  width       : 100%;
  height      : 42px;
  margin      : 2px 8px;
  display     : flex;
  position    : relative;
  align-items : center;
  cursor      : pointer;
}

.Border {
  width            : 100%;
  position         : absolute;
  height           : 2px;
  background-color : #BDBDBD;
  transition       : all .3s ease-out;
  display          : flex;
  flex-direction   : row;
  justify-content  : space-between;
}

.Host:hover .Dot {
  width         : 2px;
  height        : 2px;
  background    : #444;
  position      : relative;
  z-index       : 1;
  top           : 0;
  border-radius : 50%;
}

.Circle {
  background-color           : #2196F3;
  width                      : 20px;
  height                     : 20px;
  border-radius              : 50%;
  left                       : 0;
  position                   : absolute;
  z-index                    : 1;
  cursor                     : pointer;
  box-sizing                 : border-box;
  transform                  : translate(-50%, 0) scale(0.7);
  transition                 : left 0.3s ease-out, width 0.2s ease-out, height 0.2s ease-out, transform 0.2s ease-out, background-color 0.4s ease-out;
  transition-timing-function : ease-out;
}

.RippleCircle {
  background-color : rgba(3, 155, 229, 0.15);
  width            : 32px;
  height           : 32px;
  position         : absolute;
  border-radius    : 50%;
  transition       : left 0.3s ease-out, width 0.2s ease-out, height 0.2s ease-out, transform 0.4s ease-out;
  transform        : translate(-50%, 0) scale(0.4);
  animation        : none;
}

.LeftBorder {
  background-color : #2196F3;
  position         : absolute;
  left             : 0;
  width            : 0;
  height           : 2px;
  transition       : width .3s ease-out;
}

.Host:hover .Border {
  background-color : #9E9E9E;
}

.Host:hover .Circle {
  transform : translate(-50%, 0) scale(0.8);
}

.Host:hover .RippleCircle {
  transform : translate(-50%, 0) scale(1);
  animation : ripple 0.4s ease-out .3s infinite alternate;
}

.Host:active .Circle {
  transform : translate(-50%, 0) scale(1);
}

.Host:active .RippleCircle {
  transform : translate(-50%, 0) scale(0.4);
  animation : none;
}

.Host.None:hover .Circle {
  background-color : #fafbfd;
  border           : solid 2px #9E9E9E;
}

.Host.None .Circle {
  background-color : #fafbfd;
  border           : solid 2px #bdbdbd;
}

.Host.None .RippleCircle {
  background-color : #bdbdbd;
  background-color : rgba(0, 0, 0, 0.15);
}

.Host.Disabled .LeftBorder {
  background-color: #9E9E9E;
}

.Host.Disabled .RippleCircle,
.Host.Disabled .Dot {
  display : none;
}

.Host.Disabled .Circle {
  transform        : translate(-50%, 0) scale(0.8);
  background-color : #fafbfd;
  border           : solid 2px #bdbdbd;
}

.Host.Disabled .Border {
  background-color : #BDBDBD;
}

@keyframes ripple {
  0% {
    transform : translate(-50%, 0) scale(0.9);
  }
  100% {
    transform : translate(-50%, 0) scale(1);
  }
}