.Host {
    display       : flex;
    flex-direction: column;
    margin        : 16px 0 8px 0;
}

.InputText {
    z-index         : 1;
    padding         : 0;
    padding-bottom  : 8px;
    border-width    : 0;
    border-bottom   : 1px solid #DDD;
    outline-width   : 0;
    box-shadow      : none;
    background-color: transparent;
    color           : inherit;
    font-size       : 16px;
    transition      : all .3s ease-out;
    text-align      : inherit;
}

.Label {
    display       : inline-block;
    position      : relative;
    pointer-events: none;
}

.LabelText:not(:empty) {
    display      : inline-block;
    position     : absolute;
    margin-bottom: 8px;
    font-size    : 16px;
    color        : rgba(0, 0, 0, .38);
    transform    : translateY(calc(100%));
    transition   : all .3s ease-out;
}

.DummyLabelText:not(:empty) {
    display      : inline-block;
    visibility   : hidden;
    margin-bottom: 8px;
    font-size    : 12px;
}

.HelperText:not(:empty) {
    display      : inline-block;
    margin-bottom: 8px;
    font-size    : 0.8em;
}

.Host.Empty .InputText:hover {
    color: rgba(0, 0, 0, .54);
}

.Host.Invalid .InputText {
    border-color: #F40;
    color       : rgba(0, 0, 0, 1);
}

.Host.Focused .InputText {
    border-color: #09F;
    color       : inherit;
}

.Host.Disabled .InputText {
    border-color: #DDD;
    border-style: dotted;
    color       : rgba(0, 0, 0, .38);
}

.Host.Invalid .LabelText {
    color: #F40;
}

.Host.Focused .LabelText {
    color: #09F;
}

.Host.Disabled .LabelText {
}

.Host:not(.Empty)   .LabelText,
.Host.Empty.Focused .LabelText {
    transform: translate(-50%) scale(0.75) translate(50%);
}
