.ListWrap {
  overflow : auto;
}

.VisitorListItem {
  height : 54px;
  border-left   : 3px solid transparent;
}

.VisitorListItem > * {
  overflow      : hidden;
  text-overflow : ellipsis;
  white-space   : nowrap;
}

.VisitorListItem > :nth-child(n + 3) {
  overflow   : hidden;
  flex-grow  : 1;
  text-align : left;
}

.VisitorListItem > :nth-child(n + 2) {
  margin-left : 8px;
}

.VisitorListItem > :nth-child(1) {
  display         : flex;
  align-items     : center;
  justify-content : space-around;
  min-width       : 120px;
  max-width       : 120px;
  width           : 120px;
  cursor          : pointer;
  transition : all .3s ease-out;
}

.VisitorListItem > :nth-child(2) {
  min-width  : 42px;
  max-width  : 42px;
  width      : 42px;
}

.VisitorListItem > :nth-child(3) {
  min-width : 55px;
  max-width : 60px;
}

.VisitorListItem > :nth-child(4) {
  min-width : 70px;
  width     : 70px;
}

.VisitorListItem > :nth-child(5) {
  min-width : 100px;
  width     : 200px;
}

.VisitorListItem > :nth-child(6) {
  display         : flex;
  align-items     : center;
  justify-content : space-around;
  min-width       : 65px;
  max-width       : 65px;
  cursor          : pointer;
}

.VisitorListItem > :nth-child(7) {
  display         : flex;
  align-items     : center;
  justify-content : space-around;
  min-width       : 65px;
  max-width       : 65px;
  cursor          : pointer;
}

.VisitorListItem > :nth-child(1):hover,
.VisitorListItem > :nth-child(6):hover,
.VisitorListItem > :nth-child(7):hover {
  color : black;
}

@media (max-width : 767px) {
  .VisitorListItem > :nth-child(4),
  .VisitorListItem > :nth-child(2) {
    display : none;
  }

  .VisitorListItem > :nth-child(6),
  .VisitorListItem > :nth-child(6) {
  }
}

.Visible {
  display : block;
  color   : black;
}

.Hidden {
  display : none;
}