.ListWrap {
    overflow : auto;
}

.DictionaryListItem > * {
    overflow      : hidden;
    text-overflow : ellipsis;
    white-space   : nowrap;
}

.DictionaryListItem > :nth-child(n + 3) {
    overflow   : hidden;
    flex-grow  : 1;
    text-align : left;
}

.DictionaryListItem > :nth-child(n + 2) {
    margin-left : 8px;
}

.DictionaryListItem > :nth-child(1) {
    display         : flex;
    align-items     : center;
    justify-content : space-around;
    min-width       : 60px;
    max-width       : 60px;
    width           : 60px;
}

.DictionaryListItem > :nth-child(2) {
    text-align : center;
    min-width  : 42px;
    max-width  : 42px;
    width      : 42px;
}

.DictionaryListItem > :nth-child(3) {
    min-width : 70px;
    width     : 70px;
}

.DictionaryListItem > :nth-child(4) {
    min-width : 100px;
    width     : 200px;
}

.DictionaryListItem > :nth-child(5) {
    min-width : 200px;
    width     : 400px;
}

.DictionaryListItem > :nth-last-child(1) {
    min-width  : 40px;
    max-width  : 40px;
    width      : 40px;
    margin     : 0 20px;
    text-align : center;
}

@media (max-width : 767px) {
    .DictionaryListItem > :nth-child(1) {
        min-width       : 20px;
        max-width       : 20px;
        width           : 20px;
    }
    .DictionaryListItem > :nth-child(5) {
        display: none;
    }
}
